//output:build/$1.html
//{ date: new Date, myFunc: () => date }
<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    title A Vue.js Hello World
    link(rel='stylesheet' href='index.css')
    script(src='https://unpkg.com/vue')

  body.halo

    main.halo
      div#Example

        p {{ hello }}
        p.alt {{ zoom }}

    script(src='index.js')
